body {
  margin: 10px;
}

.wrapper {
  height: 100vh;
  display: flex;

  /* Direction of the items, can be row or column */
  flex-direction: column;
}

header {
  height: 30px;
}

footer {
  margin-top: 10px;
  height: 30px;
  text-align: center;
}

main {
  display: flex;
}

.sidebar {
  flex: 0 0 15em;
}

.player {
  min-height: 40vh;
  min-width: 50vw;
  flex: 1 0 15em;
}
